---
import Article from "../layouts/Article.astro";
import { CONTACT_US } from "../links";
---

<Article disableIndexing>
    <h1>Page Not Found</h1>
    <p>
        This page doesn't currently exist on our site. <br />
        If you'd like, you can <a href={CONTACT_US}>contact us</a> about it!
    </p>
    <p><a href="/">Return to home page</a></p>
</Article>

<style lang="scss">
    // Grow to fill entire page, centering the content.
    :global(main) {
        flex: 1;
    }
</style>
