---

import Section from "../components/Section.astro";
import Article from "../layouts/Article.astro";
import { faTwitch } from "@fortawesome/free-brands-svg-icons";
import Button from "../components/Button.astro";
import Icon from "../components/Icon.astro";
import { faCamera, faStream, faVideo } from "@fortawesome/free-solid-svg-icons";
import { getCollection, render } from 'astro:content';
import EventItem from "../components/events/EventItem.astro";
import type { DataEntry, CollectionEntry } from "astro:content";
import path from "node:path";

const events = await getCollection("events");
events.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

interface Year {
    year: number;
    events: [CollectionEntry<"events">];
}

// Group events by year so we can make headings

const years: Year[] = [];
for (const event of events) {
    if (!event.filePath) throw new Error("Missing event file path");

    const folderName =  path.basename(path.dirname(event.filePath));
    const year = Number(folderName);

    if (years[0]?.year === year) {
        years[0].events.push(event);
    } else {
        years.unshift({
            year,
            events: [event],
        });
    }
}
---

<Article
    title="Events"
    description="Support Grant High School’s FIRST Robotics Team\
                by tuning into an event in-person or online."
>
    <Section>
        <h1>Event Information</h1>
        <p>
            Support Grant High School’s FIRST Robotics Team by tuning into an
            event in-person or online.
        </p>
        <!-- Uncomment when an event is in progress -->
        <!-- <Button href="https://3636.live">
            <Icon symbol={faVideo} />
            Join Livestream
        </Button> -->
    </Section>
    {years.map(({ year, events }) =>
        <Section theme="secondary">
            <h2 class="year" id={String(year)}>{year} Season</h2>
            <ul class="event-list">
                {events.map((event) =>
                    <EventItem data={event} />
                )}
            </ul>
        </Section>
    )}
</Article>

<style lang="scss">
    .event-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .year {
        margin: 1rem 0 0 0;
    }
</style>