---
import type { HTMLAttributes } from "astro/types";

type Align = "center" | "top";
interface Props extends HTMLAttributes<"div"> {
    align?: Align,
}
const { align = "center", ...rest } = Astro.props;
---

<div data-align={align} {...rest}>
    <slot />
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        &[data-align="top"] {
            justify-content: flex-start;
        }
    }
</style>