---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"div"> {}
const { ...rest } = Astro.props;
---

<div {...rest}>
    <slot />
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    }
</style>