---
import Icon from "./Icon.astro";
import type { IconDefinition } from "@fortawesome/free-brands-svg-icons";

interface Props {
    icon: IconDefinition;
}

const { icon } = Astro.props;
---

<div class="detail">
    <div class="icon">
        <Icon symbol={icon} />
    </div>
    <div class="content">
        <slot />
    </div>
</div>

<style lang="scss">
    .detail {
        display: flex;
        gap: 10px;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 0.5rem 1.5rem;
        background: var(--bg-secondary);
        border: var(--border-secondary);

        & > .icon {
            position: relative;
            font-size: 1rem;
            color: var(--accent);
            padding-right: 0.8rem;
            z-index: 0;
        }

        & > .content {
            display: flex;
            flex-direction: column;
            align-items: start;
            text-align: center;

            // Just make everything a bit smaller:

            :global(h2) {
                font-size: 1rem;
                font-weight: bold;
            }

            :global(p) {
                font-size: 0.8rem;
                margin: 0.1rem 0 0 0;
            }

            :global(h2, p) {
                margin: 0.1rem;
            }
        }
    }
</style>
