---
import Image from "./Image.astro";
import logo from "../assets/logo.svg?raw";
import LogoLink from "./LogoLink.astro";
import SocialLink from "./SocialLink.astro";

import { icon } from "@fortawesome/fontawesome-svg-core";
import {
    faInstagram,
    faTiktok,
    faYoutube,
    faGithub,
} from "@fortawesome/free-brands-svg-icons";
import { faPlay, faEnvelope } from "@fortawesome/free-solid-svg-icons";
import tbaLamp from "../assets/tba_lamp.svg";
---

<footer>
    <div class="organization-info">
        <LogoLink footer>Generals Robotics</LogoLink>
        <div class="social-links">
            <SocialLink
                icon={icon(faInstagram)}
                title="Follow us on Instagram!"
                href="https://www.instagram.com/frcteam3636"
            />
            <SocialLink
                icon={icon(faTiktok)}
                title="Follow us on TikTok!"
                href="https://www.tiktok.com/@frcteam3636"
            />
            <SocialLink
                icon={icon(faYoutube)}
                title="Watch us on YouTube!"
                href="https://www.youtube.com/@FRCTeam3636"
            />
            <SocialLink
                icon={icon(faGithub)}
                title="Our GitHub profile"
                href="https://github.com/FRC3636"
            />
        </div>
    </div>

    <div class="link-column">
        <h2>Resources</h2>
        <ul>
            <li>
                <a href="https://www.thebluealliance.com/team/3636">
                    The Blue Alliance profile
                </a>
            </li>
            <li>
                <a href="https://3636.live">Watch our matches live</a>
            </li>
            <li>
                <a href="mailto:frcteam3636@gmail.com">Contact Us</a>
            </li>
        </ul>
    </div>

    <div class="link-column">
        <h2>Our Work in 2025</h2>
        <ul>
            <li>
                <a
                    href="https://www.chiefdelphi.com/t/frc-team-3636-generals-robotics-2025-build-thread/476448"
                >
                    Build Thread
                </a>
            </li>
            <li>
                <a href="https://photos.app.goo.gl/cHvVaUfFe965jwtz6">
                    Build Season Photos
                </a>
            </li>
            <li>
                <a href="https://github.com/FRC3636/frc-2025">Robot Code</a>
            </li>
            <li>
                <a
                    href="https://cad.onshape.com/documents/91312b208aad8571797edb8e/w/af1bf7dd9545e7f222ded0b0/e/a67c77efd530fbdebb505258"
                >
                    Onshape CAD Model
                </a>
            </li>
        </ul>
    </div>

    <style lang="scss">
        footer {
            display: flex;
            flex-wrap: wrap;
            padding: 2.5rem 0;
            gap: 2rem;
            justify-content: center;
            background-color: var(--bg-secondary);
            white-space-collapse: collapse;
        }

        .organization-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: c;
            gap: 0.25rem;
            // This is useful when the width is actually 100%.
            text-align: center;
            // Put the organization's logo on its own line by default.
            // If we're on desktop we can use a media query to put everything on one line.
            width: 100%;
        }

        @media (min-width: 768px) {
            .organization-info {
                width: auto;
            }
        }

        .social-links {
            display: flex;
            gap: 0.75rem;
            font-size: 1.5rem;
            line-height: 2rem;
        }

        .link-column {
            margin-top: 0.5rem;
        }

        .link-column h2 {
            color: light-dark(var(--accent), var(--col-white));
            margin-bottom: 1rem;
            font-weight: bold;
            font-size: 1rem;
            text-align: left;
            margin: 0;
        }

        .link-column ul {
            list-style-type: none;
            font-size: 0.8rem;
            padding: 0;
            margin: 0;
        }
        .link-column li {
            margin-top: 0.5rem;
        }

        .link-column a {
            text-decoration-thickness: 0.1em;
        }
    </style>
</footer>
