---
import { Image } from "astro:assets";
import hero from "../assets/robot-hero.jpg";
import { faChevronDown } from "@fortawesome/free-solid-svg-icons";
import { faYoutube } from "@fortawesome/free-brands-svg-icons";
import Frame from "./Frame.astro";
import Button from "./Button.astro";
import Icon from "./Icon.astro";

interface Props {
    scrollHref: string;
}

const { scrollHref } = Astro.props;
---

<div class="hero">
    <Frame videoId="LXZsFiOZ7zQ" width={3840} height={2160} loop cover simple fixFOUC class="hero-video" />
    <div class="hero-overlay">
        <div class="hero-details">
            <Button href="https://youtu.be/LXZsFiOZ7zQ" theme="dark-transparent">
                <Icon symbol={faYoutube} larger />
                Watch
            </Button>
        </div>
    </div>
    <div class="hero-overlay-btm">
        <a class="hero-scroll" href={scrollHref}>
            <p class="callout">Learn More</p>
            <div class="scroll-arrow">
                <Icon symbol={faChevronDown} />
            </div>
        </a>
    </div>
</div>
<the-fold />

<style lang="scss">
    .hero {
        position: relative;
    }

    .hero-video {
        height: 100svh;
        width: 100%;
        background-color: var(--col-dark);
    }

    .hero, h1 {
        color: var(--col-white);
    }

    h2 {
        color: var(--col-lgray);
        font-weight: normal;
        font-family: var(--font-subheading), sans-serif;
    }

    .hero-overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(
            transparent,
            transparent,
            transparent,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.8)
        );
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-details {
        padding: 40svh 1rem 1rem;
    }

    .hero-overlay-btm {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .hero-scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        color: white;

        .scroll-arrow {
            font-size: 2rem;
            animation: scroll-nag 3s infinite;

            @media screen and (prefers-reduced-motion: reduce) {
                animation: none;
            }
        }

        p {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-decoration-color: var(--accent);
        }

        &:hover p {
            text-decoration-color: var(--col-white);
        }
    }


    .hero-img {
        width: 100%;
        // `svh` is used instead of `vh` to make sure the bottom of the image doesn't get cut off on mobile browsers
        height: 100svh;
        object-fit: cover;
    }

    // helps to let visitors know that there's other content below the fold!
    @keyframes scroll-nag {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(0.5rem);
        }
        50% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>

<script>
    // This script is used to make the hero scroll button scroll to the next section
    const below = document.querySelector("#below-hero");
    const heros = document.querySelectorAll(".hero-scroll");
    for (const hero of heros) {
        hero.addEventListener("click", (e) => {
            e.preventDefault();
            below?.scrollIntoView({ block: "end" });
        });
    }
</script>
