---
import hero from "../assets/robot-hero.jpg";
import { faChevronDown, faCircleDot } from "@fortawesome/free-solid-svg-icons";
import { faYoutube } from "@fortawesome/free-brands-svg-icons";
import Button from "./Button.astro";
import Icon from "./Icon.astro";
import Frame from "./Frame.astro";
interface Props {
    scrollHref: string;
}

const { scrollHref } = Astro.props;
---

<div class="hero">
    <Frame width={1920} height={1080} cover>
        <video class="reveal-video" preload="auto" autoplay muted loop playsinline>
            <source type="video/webm" src="/assets/reveal/reveal.webm" />
            <source type="video/mp4" src="/assets/reveal/reveal.mp4" />
        </video>
    </Frame>
    <div class="hero-overlay">
        <div class="hero-details">
            <div class="hero-links">
                <!-- Uncomment when an event is in progress -->
                <!-- <Button href="https://3636.live" theme="primary" style={{ "--accent": "#e71919" }}>
                    <Icon symbol={faCircleDot} />
                    Watch Live
                </Button> -->
                <Button
                    href="https://youtu.be/e5cw4i_LtoA"
                    theme="dark-transparent"
                >
                    <Icon symbol={faYoutube} larger />
                    Robot Reveal
                </Button>
            </div>
        </div>
    </div>
    <div class="hero-overlay-btm">
        <a class="hero-scroll" href={scrollHref}>
            <p class="callout">Learn More</p>
            <div class="scroll-arrow">
                <Icon symbol={faChevronDown} />
            </div>
        </a>
    </div>
</div>
<the-fold></the-fold>
<br />

<style lang="scss">
    .hero {
        position: relative;
    }

    .hero-video {
        height: 100svh;
        width: 100%;
        background-color: var(--col-dark);
    }

    .hero,
    h1 {
        color: var(--col-white);
    }

    h2 {
        color: var(--col-lgray);
        font-weight: normal;
        font-family: var(--font-subheading), sans-serif;
    }

    .hero-overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(
            transparent,
            transparent,
            transparent,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.8)
        );
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-details {
        padding: 40svh 1rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-overlay-btm {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .hero-scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        color: white;

        .scroll-arrow {
            font-size: 2rem;
            animation: scroll-nag 3s infinite;

            @media screen and (prefers-reduced-motion: reduce) {
                animation: none;
            }
        }

        p {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-decoration-color: var(--accent);
        }

        &:hover p {
            text-decoration-color: var(--col-white);
        }
    }

    .hero-img {
        width: 100%;
        // `svh` is used instead of `vh` to make sure the bottom of the image doesn't get cut off on mobile browsers
        height: 100svh;
        object-fit: cover;
    }

    // helps to let visitors know that there's other content below the fold!
    @keyframes scroll-nag {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(0.5rem);
        }
        50% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
    }

    .reveal-video {
        width: 100%;
    }
</style>

<script>
    // This script is used to make the hero scroll button scroll to the next section
    const below = document.querySelector("#below-hero");
    const heros = document.querySelectorAll(".hero-scroll");
    for (const hero of heros) {
        hero.addEventListener("click", (e) => {
            e.preventDefault();
            below?.scrollIntoView({ block: "end" });
        });
    }
</script>
