---
import logo from "../assets/logo.svg?raw";

export interface Props {
    footer?: boolean;
    collapse?: boolean;
}

const { footer, collapse } = Astro.props;
---

<a href="/" title="Homepage" class:list={["logo", { footer, collapse }]}>
    <Fragment set:html={logo} />
    <span class="text">
        <slot />
    </span>
</a>

<style lang="scss" }>
    a {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        color: var(--col-white);
        font-family: var(--font-heading), sans-serif;
        font-weight: 1000;
        text-transform: uppercase;
        text-decoration: none;

        &:not(.footer) > .text {
            @media (max-width: 800px) {
                display: none;
            }
        }

        &.footer {
            color: var(--accent);

            @media (prefers-color-scheme: dark) {
                // Use white anyway
                color: var(--col-white);
            }
        }
    }

    .logo :global(svg) {
        width: 60px;
        // Optical centering
        transform: translateY(-2px);
    }

    // just scale the SVG down a bit
    .logo.footer :global(svg) {
        width: 40px;
    }
</style>
