---
import { type HTMLAttributes } from "astro/types";

type Theme = "primary" | "secondary";
type Align = "centered" | "spaced";
type Layout = "row" | "column";
interface Props extends HTMLAttributes<"div"> {
    /**  Controls the background color of the section. */
    theme?: Theme;
    align?: Align;
    layout?: Layout;
    earlyCollapse?: boolean;
}

const {
    theme = "primary",
    align = "centered",
    layout = "column",
    earlyCollapse,
    ...rest
} = Astro.props;
---

<section
    data-theme={theme}
    data-align={align}
    data-layout={layout}
    data-early-collapse={earlyCollapse}
    {...rest}
>
    <slot />
</section>

<style lang="scss">
    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        // Theming

        &[data-theme="secondary"] {
            background-color: var(--bg-secondary);
        }

        &[data-layout="row"] {
            flex-direction: row;

            &:not([data-align="spaced"]) {
                align-items: start;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }

            &[data-early-collapse="true"] {
                @media (max-width: 1400px) {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }

        &[data-align="spaced"] {
            justify-content: space-around;
            padding: 1rem;
        }

        // Children

        :global(p) {
            max-width: var(--prose-width);
        }

        > :global(h1), > :global(h2) {
            // The `gap` property on the section makes heading margins less necessary.
            margin-bottom: 0.5rem;
        }
    }
</style>
