---
import type { IconDefinition } from "@fortawesome/free-brands-svg-icons";
import Icon from "./Icon.astro"
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {
    icon: IconDefinition;
    href: string;
    title: string;
}

const { icon, href, title, class: className, ...rest } = Astro.props;
---

<a
    href={href}
    title={title}
    aria-label={title}
    target="_blank"
    rel="noopener noreferrer"
    class:list={["social-link", className]}
    {...rest}
>
    <Icon symbol={icon} />
</a>

<style>
    .social-link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-shrink: 0;

        font-size: 1.5rem;

        padding: 0.3rem;

        border: 2px solid var(--accent);
        color: var(--accent);
        border-radius: 100%;
        transition:
            color,
            background-color 0.15s ease-in-out;
    }

    .social-link:hover {
        background-color: var(--accent);
        color: var(--bg-secondary);
    }

    @media (prefers-color-scheme: dark) {
        .social-link {
            border-color: var(--col-body);
            color: var(--col-body);
        }

        .social-link:hover {
            background-color: var(--col-body);
            color: var(--bg-secondary);
        }
    }
</style>
