@font-face {
    font-family: Loos;
    src: url(/fonts/LoosLCGeo-Variable-Web.woff2);
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url(/fonts/Montserrat-VF.woff2);
    font-display: swap;
}

:root {
    --col-white: #ffffff;
    --col-dark: #0a0a0a;
    --col-black: black;
    --col-lgray: #eeeeee;
    --col-dgray: #2d2a2b;
    --col-blue: #1d48a3;
    --font-heading: "Loos", sans-serif;
    --font-subheading: "Montserrat", sans-serif;
    --font-body: "Montserrat", sans-serif;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;

    --bg: var(--col-white);
    --bg-secondary: var(--col-lgray);
    /* This is intended to be most prominent in dark mode to separate things colored with --bg-secondary from --bg. */
    --border-secondary: solid color-mix(in srgb, var(--col-white) 10%, transparent) 1px;
    --col-body: var(--col-dgray);
    --primary: var(--col-black);
    --accent: var(--col-blue);

    @media (prefers-color-scheme: dark) {
        --bg: var(--col-black);
        --bg-secondary: var(--col-dark);
        --primary: var(--col-white);
        --col-body: var(--col-lgray);
    }

    @media screen and (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}

html,
body {
    font-size: 1.25em;
}

body {
    font-family: var(--font-body), sans-serif;
    max-width: 100%;
    background-color: var(--bg);
    color: var(--col-body);
}

a {
    color: currentColor;
    transition: text-decoration 0.2s ease-in-out;

    @media (prefers-color-scheme: dark) {
        text-decoration-color: var(--accent);
    }

    &:hover {
        text-decoration: underline;
        text-decoration-color: var(--col-blue);
        color: var(--col-blue);

        @media (prefers-color-scheme: dark) {
            color: currentColor;
            text-decoration-color: var(--col-white);
        }
    }
}

%heading {
    font-family: var(--font-heading), sans-serif;
    font-weight: 1000;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    color: var(--primary);
    text-align: center;
}

h1 {
    @extend %heading;
    font-size: 3rem;
}

h2 {
    @extend %heading;
    font-size: 2rem;
}

p {
    margin: 0 0 1rem;
    font-size: 1rem;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    margin: 0;
}

figcaption {
    text-align: center;
    font-size: 1rem;
    margin: 0.5rem;
}

iframe {
    border: none;
}

img {
    background-color: gray;

    &:not(.full-size) {
        max-width: 90vw;
        height: auto;
    }
}

.callout {
    font-size: 0.75rem;
    margin: 0 0;
}

.svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    display: inline-block;
    height: 1em;
    aspect-ratio: 1 / 1;
    vertical-align: -0.125em;
}

.inline-image {
    display: inline-block;
    height: 1em;
    margin: 0 5px;
}

// Used by @divriots/jampack for optimization
the-fold {
    display: none;
}
