---
// A layout that includes reasonable defaults for an "article"-style page with
// a title at the top and several sections. This layout should work for most
// pages except for the homepage because of the special cover image.

import Layout, { type Props as LayoutProps } from "./Layout.astro";

interface Props extends LayoutProps {}

const { ...rest } = Astro.props;
---

<Layout {...rest}>
    <main>
        <slot />
    </main>
</Layout>

<style lang="scss">
    main {
        margin-top: 1rem;
        margin-bottom: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        :global(h1) {
            margin: 0;
            @media (max-width: 600px) {
                font-size: 2.5rem;
            }

            &:first-child {
                margin-top: 2rem;
            }
        }

        :global(p) {
            margin-bottom: 1rem;
        }
    }
</style>